<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Micnelest(K) Limited</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/Animate.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Micnelest</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#security">Security Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#debt">Debt-Collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#messenger">Messenger Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#property">Property Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead" style="background-image: url({% static 'images/header-bg.jpg' %});">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in animated bounceInRight" style="animation-delay: 1s;">Micnelest </div>
        <div class="intro-heading text-uppercase animated bounceInLeft" style="animation-delay: 2s;">Security Experts</div>
        <a style="animation-delay: 3s;" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger animated zoomIn" href="#messenger">More Info</a>
      </div>
    </div>
  </header>

  <!-- Micnelest Security services -->
  <section class="page-section" id="security">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Security Services</h2>
          <h3 class="section-subheading text-muted">Micnelest (K) Limited is a non-stop service center 
            highly involved in the following security services tailor made to suit the the client's desires</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'images/about/1.png' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Man guarding</h4>
                  <h4 class="subheading"></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Our company has well trained staff members who provide man guarding services for homes, Residential Estates, Offices, Private and Public properties, Institutions and Events. We offer 24-Hour surveillance and patrol with radio call services.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'images/about/2.png' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">Alarm installations and response</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">We install alarm systems at our client's premises with strategically placed trigger points. We have 24-Hour standby response team to respond to distress calls.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'images/about/3.png' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">Dog unit</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">We offer guard dog services. These range from breeding, training and selling of Pedigree and registered dog breeds.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'images/about/4.png' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">CCTV systems</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Procurement, supply and installation of closed-circuit television camera systems is our forte. We have developed a highly automated surveillance system for use in accordance to a client's requirement. We also provide repair and maintenance services for the installed systems.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'images/about/5.png' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">VIP protection</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Our Company has highly trained bodyguards and official drivers to offer security services for VIP or clients who require physical protection. This extends to their travelling parties, families and acquaintances.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'images/about/6.png' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">Motion detectors and movement restrictors</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">As part of increasingly innovative services, we offer procurement, supply and installation of motion detectors. Movement restriction is highly technical method of security and restricting movement of valuable items such as art and museum pieces to prevent theft. Motion detectors are meant to trigger alarms in case of encroachment towards a restricted area.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'images/about/7.png' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">Cash in transit</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">We provide courier services for cash and valuables in transit in collaboration with other security agencies e.g. the Kenya Police.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'images/about/8.png' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">Health & Safety management </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Our client's safety and well-being remain our core business. Therefore, we have developed Health and Safety management packages to offer emergency response in case of fire, accident and other tragedies. We also train on fire exit drills, First Aid and medical evacuation.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="{% static 'images/about/9.png' %}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">Fire Equipment</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Micnelest (K) Limited supplies and installs fire equipment including fire extinguishers, fire alarms, Hose pipes and fire hydrants.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Be Part
                  <br>Of Our
                  <br>Story!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!-- Micnelest debt services  -->
  <section class="bg-light page-section" id="debt">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Debt Collection Services</h2>
          <h3 class="section-subheading text-muted">Micnelest (K) Limited is a non-stop service center 
            highly involved in the following services tailor made to suit the the client's desires</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/6.jpg' %}" alt="">
            <h4>Invoice & Payment Collection</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/4.jpg' %}" alt="">
            <h4>Credit Control and Management</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/5.jpg' %}" alt="">
            <h4>Skip Tracing, Repossession and Field Calls</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/7.jpg' %}" alt="">
            <h4>Commercial Litigation & Legal Action</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/9.jpg' %}" alt="">
            <h4>Best Practice Bad Debt Collection</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/8.jpg' %}" alt="">
            <h4>Debt Factoring & Process Serving</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">We have subscribed with several companies in Europe that 
            have their products 
            and concepts well accepted in Africa. Amongst them are: SYSTEM Q,
             CCTV SUPPLY & INSTALLATION, DALLASCO INTERNATIONAL, ELECTRONIC AND MODERN SECURITY 
             TECHNOLOGY</p>
        </div>
      </div>
    </div>

    
  </section>

  <!--Micnelest Messenger section -->
  <section class="bg-light page-section" id="messenger">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Messenger Services</h2>
          <h3 class="section-subheading text-muted">Micnelest (K) Limited is a non-stop service center 
            highly involved in the following services tailor made to suit the the client's desires</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/1.png' %}" alt="">
            <h4>Courier Services</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/2.png' %}" alt="">
            <h4>Home & Office Messenger</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/3.png' %}" alt="">
            <h4>Letters & Parcel Delivery</h4>
          </div>
        </div>
      </div>
    </div>

    
  </section>

  <!-- Property Management section -->
  <section class="bg-light page-section" id="property">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Property Management Services</h2>
          <h3 class="section-subheading text-muted">What We Offer</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/10.png' %}" alt="">
            <h4>Rent Responsibilities </h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/12.jpg' %}" alt="">
            <h4>Attracting & Screening Tenants</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'images/team/11.png' %}" alt="">
            <h4>Maintenance and Repairs,Managing Budget & Financial Records</h4>
          </div>
        </div>
      </div>
    </div>

    
  </section>

  <!-- About Us:Micnelest Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About Us</h2>
          <h3 class="section-subheading text-muted">About Micnelest(K) Limited</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'images/portfolio/01-thumbnail.png' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Our Core Values</h4>
            <p class="text-muted">Read More</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'images/portfolio/02-thumbnail.png' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Why Us</h4>
            <p class="text-muted">Read More</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'images/portfolio/03-thumbnail.png' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Our Mission and Vision</h4>
            <p class="text-muted">Read More</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'images/portfolio/04-thumbnail.png' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Insurance & Registration</h4>
            <p class="text-muted">Read More</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'images/portfolio/05-thumbnail.png' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Central Objective</h4>
            <p class="text-muted">Read More</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'images/portfolio/06-thumbnail.png' %}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Areas Of Specialization</h4>
            <p class="text-muted">Read More</p>
          </div>
        </div>
      </div>
    </div>
  </section>


 <!-- Contact -->

<section class="page-section" id="contact" style="background-image: url({% static 'images/map-image.png' %});">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0 section-heading text-uppercase">Let's Get In Touch!</h2>
        <hr class="divider my-4">
        <h5 class="section-heading text-lowercase mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div class="section-heading text-uppercase">Call: <strong>0726 830 004</strong></div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
        <!-- Make sure to change the email address in anchor text AND the link below! -->
        <a class="d-block" href="mailto:micnellest@gmail.com">info@micnelest.co.ke</a>
      </div>
    </div>
  </div>
</section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Micnelest(K) Limited 2020</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#contact">Contact Us</a>
            </li>
            <li class="list-inline-item">
              <a href="#security">Services</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- About Us Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Our Core Values</h2>
                <p class="item-intro text-muted">Micnelest core values are:</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'images/portfolio/01-full.png' %}" alt="">
                <p>Conducting our business activities with integrity, honesty and respect.</p>
                  <p>Committed to putting our business partners first and building long term partnerships.</p>
                  <p>Providing a cost-effective service thus maximizing return on investment.</p>
                  <p>Being reliable and providing our services within the shortest time possible.</p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Why Us</h2>
                <p class="item-intro text-muted">Why should you choose us for your service needs? Micnelest provides true and highly vetted team of staff and we offer cost effective risk mitigation solutions which include.</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'images/portfolio/02-full.png' %}" alt="">
                <ul class="list-inline">
                   <li>Comprehensive training</li>
                  <li>Latest technological solutions</li>
                  <li>Exceptional Customer Care</li>
                  <li>Quality Control</li>
                </ul>
                <h2 class="text-uppercase">Customer Care</h2>
                <p>Micnelest goal is to establish long lasting client relationships and invest heavily in  customer care </p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Our Mission</h2>
                <p class="item-intro">To complement and satisfy our clients by providing proactive and professional security solutions to counter security risks and terrorism. A competent team backed by modern technology will drive the company in the provision of our services. Our goal is built trust with our clients and make sure they get value for their money.</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'images/portfolio/03-full.png' %}" alt="">
                <h2 class="text-uppercase">Our Vision</h2>

                <p>To be the leading and most preferred risk management & security service provider in East Africa and the whole African continent by the year 2030.</p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Registration</h2>
                <p class="item-intro">Micnelest(K) Limited was registered and incorporated in the year 2014 under the Companies Act (Cap 486) by the Registrar of Companies as required by the Laws of Kenya. Its registered office is in Nairobi, of Post Box Number 6769-00300 NAIROBI.</p>
                <img class="img-fluid d-block mx-auto" src="{% static 'images/portfolio/04-full.png' %}" alt="">
                <h2 class="text-uppercase">Insurance</h2>
                <p>The company is currently covered on the following policies by Amaco Insurance.</p>
                <ul class="list-inline">
                  <li>Workmen's Injury Benefits Acts Policies</li>
                  <li>Fire Policies</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">The Central Objective</h2>
                <p class="item-intro">The Central Objective
                  Our core objective is to provide an extensive range of
                   security and safety solutions covering a wide spectrum of 
                  risk environments which includes Offices, Premises, Homes 
                  and Institutions. We accomplish this by providing man guarding services, Dog patrols, Alarm and CCTVs installation, Motion detectors among other measures to ensure our customer's needs are met.
                  </p>
                <img class="img-fluid d-block mx-auto" src="{% static 'images/portfolio/05-full.png' %}" alt="">
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Areas Of Specialization</h2>
                <p class="item-intro text-muted">We are specialized in the following areas.</p>
                <ul class="list-inline">
                  <li>Industries</li>
                  <li>Schools</li>
                  <li>Commercial Entities</li>
                  <li>Churches / Mosque</li>
                  <li>Construction Sites</li>
                  <li>Special Assignment</li>
                  <li>Escorts</li>
                  <li>Alarm Response</li>
                  <li>Hospitals</li>
                </ul>   
                <img class="img-fluid d-block mx-auto" src="{% static 'images/portfolio/06-full.png' %}" alt="">
                <p>Advantages of working with Micnelest(K) Limited</p>
                <ul class="list-inline">
                  <li>Highly experienced personnel</li>
                  <li>Proactive services</li>
                  <li>Tailor made systems and processes as agreed with the client</li>
                  <li>Specialist contractors on call at all the times</li>
                  <li>A service Level Agreement available on request</li>
                  <li>Reports provided on request at required frequency</li>
                  <li>One stop help-desk to deal with any maters arising</li>
                  <li>Client is left free to concentrate on his core business</li>
                  <li>Peace of mind for the client</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/agency.min.js' %}"></script>

</body>

</html>
